*.iml
.gradle
/local.properties
/.idea/
.DS_Store
build/
app/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
captures/
.externalNativeBuild/
.cxx/
.google_services.json
google-services.json
